-- Add location columns to support multi-currency and regional settings
ALTER TABLE public.pharma_companies ADD COLUMN IF NOT EXISTS location text;
ALTER TABLE public.sales_reps ADD COLUMN IF NOT EXISTS location text;
ALTER TABLE public.doctors ADD COLUMN IF NOT EXISTS location text;
-- public.hospitals already has location text
ALTER TABLE public.pharma_companies ADD COLUMN IF NOT EXISTS avatar text;
ALTER TABLE public.sales_reps ADD COLUMN IF NOT EXISTS avatar text;
ALTER TABLE public.doctors ADD COLUMN IF NOT EXISTS avatar text;
ALTER TABLE public.hospitals ADD COLUMN IF NOT EXISTS avatar text;
